.bs-example{
      margin: 20px;
    }
    @media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }
    .modal-header{
      background-color: grey;
      text-align: center;
    }
   .dropdown {
    border: 2px solid blue;
    width:120px;
    margin-right: 6 0px;
    text-align: center;
    border-radius: 12px;
}
.text1{
  margin-top: 4px;
  height: 60px;
}
.text4{
  width:40px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.vl {
    border-left: 1px solid green;
    height: 500px;
  }
.t{
margin-top: 80px;
margin-left:50px;  
}
.text6{
  width:40px;
  margin-bottom: 0px;
  margin-left: 150px
}
.text5{
  width:40px;
  margin-left:0px;
}
.d1{
  margin-top: 0px;
  margin-left:190px; 
}