.bs-example{
      margin: 20px;
    }
    @media screen and (min-width: 768px) {
        .modal-dialog {
          width: 700px; /* New width for default modal */
        }
        .modal-sm {
          width: 350px; /* New width for small modal */
        }
    }
    @media screen and (min-width: 992px) {
        .modal-lg {
          width: 950px; /* New width for large modal */
        }
    }
    .modal-header{
      background-color: grey;
      text-align: center;
    }
   .dropdown {
        border: 2px solid #67E6EC;
    width: 200px;
    color: #67E6EC;
    margin-right: 6 0px;
    text-align: -webkit-left;
    border-radius: 69px;
    padding: 1px;
   margin-top: 23px;     
   margin-left: 25px;
}
.dropdown1 {
        border: 2px solid #67E6EC;
    width: 200px;
    color: #67E6EC;
    margin-right: 60px;
    text-align: -webkit-left;
    border-radius: 69px;
    padding: 1px;
margin-top: 23px;     
   margin-left: 123px;
}
.dropdown2 {
    border: 2px solid #67E6EC;
    width: 130px;
    color: #67E6EC;
    margin-right: 60px;
    text-align: -webkit-left;
    border-radius: 69px;
    padding: 1px;
    margin-top: 15px;     
   margin-left: 75px;
   height: 30px;
}
.Periodic{
      margin-top: 93px;
    margin-right: 105px;
}
.modal-body{
  padding: 0px;
}
#check{
      margin-right: 87px;
    margin-top: 29px;
}
.select{
      margin-top: 18px;
    margin-left: -88px;
}
.btn {
    margin-right: 100px;
    margin-left: 157px;
    margin-top: 45px;
}
.dropdown-toggle{
  margin-left: 60px;
    margin-top: 9px;
}
.dropdown-toggle1{
      margin-left: 44px;
}
#image{
  border-color: : #67E6EC;
    width: 112px;
    margin-right: 14px;
    border-radius: -25px;
    border: dotted;
    margin-top: 23px;
    height: 175px;
    margin-top: 51px;
}
.about{
      margin-top: 60px;
    width: 263px;
    margin-left: -43px;
    height: 32px;
}
.description{
      margin-top: 5px;
    width: 263px;
    height: 130px;
    margin-left: -43px;
}

.left{
  margin-left: 73px;
  margin-top: 20px;
}
.right{
  margin-right: 125px;
  margin-top: 20px;
}
.h{
  margin-left: -145px;
}
.date{
  margin-left: -118px;
}
.from {
  width: 85px;
  margin-bottom: 0px;
  margin-right: 162px;
}
.to{
  width:85px;
  margin-bottom: 0px;
  margin-left: 13px;
}
.face{
  margin-top: 50px;
  margin-left: 20px;
}
.field{
  width: 227px;
}

.img-responsive{
  width: 110px;
  height: 111px;
}
.field2 {
  width:85px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 0px;
border-color: #67E6EC;
}


  
.vl {
  margin-top: 50px;
    border-left: 1px solid black;
        height: 511px;
    margin-left: 43px;
    margin-bottom: 80px;
  }
  .time{
      margin-top: 18px;
    border: #67E6EC;
    border-radius: 69px;
    margin-left: 102px
}
.text1{
  margin-top: 4px;
  height: 60px;
}

.t{
    
    margin-left: 110px;
    font-size: 16px; 
    margin-top: 84px; 
}

.d{
  margin-top: 100px;
  margin-left:-117px; 
}
.display{
  margin-top: -371px;
    margin-left: -550px;
}
 
